@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

.uc-fullbleed .uc-imagebox {
    @include rem(height, 44rem);

    &.tv-apps-jpg {
        background-size: 108%;
        @include rem(height, 31rem);
    }
}

.divider {
    @include rem(height, 20rem);
    background-color: $white;
    margin: -4em 0 0;
}

.philips-container {
    h1 {
      span {
        @include font-regular;
      }
    }
    .invert {
        a {
            color: $white;
            font-weight: bold;
            text-decoration: underline;
        }
        p {
            text-align: left;
        }
    }
    strong {
        font-weight: bold;
    }
    h2 + .philips-p {
        margin-top: 0px;
    }
    .philips-note {
        position: relative;

        p {
            width: 35%;
            margin: 2em 13em 0 auto;
            font-family: "the great escape", sans-serif;

            &:before {
              display: block;
              content: url('/assets/images/philips-myremote/arrow.jpg');
              position: absolute;
              top: -1em;
            }
        }
    }
    .philips-note {
        [uc-column~="1/3"] {
            width: 30%;
            float: left;
        }
    }
    [uc-column~="1/3"] {
        .philips-p {
          font-family: "the great escape", sans-serif;
        }
    }
    @include min-screen-medium {
        .philips-pointer {
            margin-left: 58%;
            margin-top: -7px;
            .philips-p {
                margin-left: 11rem;
                margin-top: -25px;
            }
        }
    }
  [uc-column~="1/2"] {
      .philips-p {
          text-align: left;
      }
  }
}

.philips-phones {
    span {
        font-size: $font-size-body;
        float: left;
        width: 33%;
        font-family: "the great escape", sans-serif;
        @include rem(margin-top, 2 * $margin);

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-top: 0;
        }
    }
}

.philips-panels {
    margin-bottom: $margin-header-medium;
}

.philips-bullets {
    border-radius: 1em;
    background-color: $white;
    width: 100%;
    margin-top: 2.5em;
    padding: 2em;
    float: left;
    transform: rotate(1deg);
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
    @include rem(height, 9.5 * $margin);

    &:first-child {
        margin-right: 50px;
        margin-top: 0;
        transform: rotate(-1deg);

        h3 {
            letter-spacing: 2px;
        }
    }

    &:last-child {
        transform: rotate(2deg);

        @include min-screen-medium {
          margin-left: 25%;
        }
    }

    @include min-screen-medium {
        width: 45%
    }

    @include min-screen-xlarge {
        width: 44rem;
    }

    h3 {
        margin-top: 0.25em;
        text-align: center;
        display: block;
        background: #EA5930;
        position: relative;
        @include rem(font-size, 3rem);
        color: $white;
        border-radius: 2em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5675;
        letter-spacing: -1px;
    }

    p {
        line-height: 1.3;
        font-size: 1.0625em;
        text-align: left;
        color: $darkgrey;

        &:last-child {
          margin-bottom: 0;
        }
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.uc-hero {
  padding: 0 0 0 1em;
}

.philips-uc-hero {
    @include rem(height, 15 * $margin);

    @include min-screen-xlarge {
      @include rem(height, 19 * $margin);
    }

    header {
      position: absolute;
      bottom: 0;
      width: 66%;

      @include min-screen-medium {
        width: 50%;
      }
    }

    h1 {
      font-size: 1.375em;

      @include min-screen-small {
        font-size: 1.75em;
      }

      @include min-screen-between {
        font-size: 2.25em;
      }

      @include min-screen-medium {
        font-size: 3em;
      }
    }

    h2 {
      font-size: 1.25em;

      @include min-screen-small {
        font-size: 1.5em;
      }

      @include min-screen-between {
        font-size: 2em;
      }

      @include min-screen-medium {
        font-size: 2.5em;
      }
    }

    img {
      position: absolute;
      height: 100%;
      right: -3.25em;
      bottom: -2em;

      @include min-screen-between {
        right: 2em;
      }

      @include min-screen-medium {
        right: 12em;
      }

      @include min-screen-large {
        right: 15em;
      }

      @include min-screen-xlarge {
        @include rem(bottom, -3 * $margin);
        @include rem(right, 15 * $margin);
      }
    }
}
.philips-uc-fullbleed {

    margin: 0;
    figure {
        margin-bottom: 0;
    }
    .tv-icon-svg {
        background-size: 25%;
        height: 13rem;
        margin: 0;
        @include min-screen-between {
            height: 24rem;
        }
    }
    .tv-arrow-jpg {
        display: none;
        visibility: hidden;
    }
    .tv-documents-jpg {
        height: 16rem;
    }
    @include min-screen-small {
        .tv-documents-jpg {
            height: 21rem;
        }
    }
    @include min-screen-between {
        .tv-documents-jpg {
            height: 30rem;
        }
    }
    @include min-screen-medium {
        .tv-arrow-jpg {
          display: block;
          visibility: visible;
          height: 8rem;
          width: 9rem;
//          background-size: contain;
          margin: 0;
        }
        .tv-controls-png, .canvas-png {
//            background-size: 100%;
//            height: 72rem;
        }
        .tv-icon-svg {
            background-size: 50%;
            height: 24rem;
            margin: 0;
        }
        figure {
//            background-size: 100% 100%;
        }
        .tv-wireframe-jpg, .tv-overview2-jpg, .tv-visuals-jpg, .tv-overview-jpg {
            background-size: 75%;
//            height: 72rem;
        }
        .tv-overview-jpg {
//          height: 52rem;
        }
        .tv-visuals-jpg {
//            height: 35rem;
        }
    }
    @include min-screen-xlarge {
        .tv-overview2-jpg, .tv-controls-png {
//            height: 83rem;
        }
    }
}
.philips-uc-images {
    .philips-uc-fullbleed {
        margin: 0;
        [uc-column~="1/3"] {
            margin: 0 0.5%;
            width: 33%;
            float: left;
            figure {
                height: 13rem;
                @include min-screen-small {
                    height: 16rem;
                }
                @include min-screen-between {
                    height: 22.8rem;
                }
                @include min-screen-medium {
                    height: 35rem;
                }
            }
        }
        [uc-column~="1/3"]:first-child, [uc-column~="1/3"]:last-child {
            margin: 0;
        }
        figure {
            margin: 0;
            height: 17.4rem;
            @include min-screen-small {
                height: 22.6rem;
            }
            @include min-screen-between {
                height: 32rem;
            }
        }
    }
    .philips-uc-fullbleed:first-child {
        margin-bottom: 3px;
    }
}

.philips-uc-overlapping-images {
    .uc-imagebox.tv-apps-jpg {
        background-size: cover;
        @include rem(height, 42rem);
    }
    [uc-column~="1/3"]:first-child, [uc-column~="1/3"]:last-child {
        .tv-photo-png {
            z-index: 1;
        }
    }
}

.philips-buttons {
  margin: 0;
  text-align: center;

  button {
    background: none;
    border: 0;
    display: inline-block;

    img:last-child {
      margin: 0;
    }

    @include min-screen-large {
        &:first-child {
            margin-right: $margin;
        }
    }

  }
}
