@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

.philips-container {
    h1 {
      span {
        @include font-regular;
      }
    }
    .invert {
        a {
            color: $white;
            font-weight: bold;
            text-decoration: underline;
        }
        p {
            text-align: left;
        }
    }
    strong {
        font-weight: bold;
    }
    h2 + .philips-p {
        margin-top: 0px;
    }
    .philips-p {
        margin-left: 10%;
        margin-right: 10%;
    }
    .philips-pointer {
        .philips-p {
            font-family: "the great escape", sans-serif;
            margin-top: -80px;
        }
    }
    .philips-note {
        [uc-column~="1/3"] {
            width: 30%;
            float: left;
        }
    }
    [uc-column~="1/3"] {
        .philips-p {
          font-family: "the great escape", sans-serif;
        }
    }
    @include min-screen-medium {
        .philips-pointer {
            margin-left: 58%;
            margin-top: -50px;
            .philips-p {
                margin-left: 11rem;
                margin-top: -25px;
            }
        }
    }
  [uc-column~="1/2"] {
      .philips-p {
          text-align: left;
      }
  }
}
.philips-panels {
    margin: 0 10%;
}
.philips-bullets {
    border-radius: 1rem;
    background-color: $white;
    width: 100%;
    @include min-screen-medium {
        width: 45%
    }
    @include min-screen-xlarge {
        width: 44rem;
    }
    padding: 2rem;
    float: left;
    transform: rotate(2deg);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.15);
    h3 {
        position: relative;
        font-size: 3rem;
        margin: 0 0 0 60%;
    }
    p {
        text-align: left;
    }
}
.philips-bullets:first-child {
    margin-right: 50px;
    transform: rotate(358deg);
}
.philips-bullets:last-child {
      @include min-screen-medium {
          margin-left: 25%;
      }
}

.uc-hero {
  padding: 0 0 0 1em;
}

.philips-uc-hero {
    @include rem(height, 15 * $margin);

    @include min-screen-xlarge {
      @include rem(height, 19 * $margin);
    }

    header {
      position: absolute;
      bottom: 0;
      width: 66%;

      @include min-screen-medium {
        width: 50%;
      }
    }

    h1 {
      font-size: 1.375em;

      @include min-screen-small {
        font-size: 1.75em;
      }

      @include min-screen-between {
        font-size: 2.25em;
      }

      @include min-screen-medium {
        font-size: 3em;
      }
    }

    h2 {
      font-size: 1.25em;

      @include min-screen-small {
        font-size: 1.5em;
      }

      @include min-screen-between {
        font-size: 2em;
      }

      @include min-screen-medium {
        font-size: 2.5em;
      }
    }

    img {
      position: absolute;
      height: 100%;
      right: -3.25em;
      bottom: -2em;

      @include min-screen-between {
        right: 2em;
      }

      @include min-screen-medium {
        right: 12em;
      }

      @include min-screen-large {
        right: 15em;
      }

      @include min-screen-xlarge {
        @include rem(bottom, -3 * $margin);
        @include rem(right, 15 * $margin);
      }
    }
}
.philips-uc-fullbleed {

    margin: 0;
    figure {
        background-size: contain;
        margin-bottom: 0;
    }
    .tv-icon-svg {
        background-size: 25%;
        height: 24rem;
        margin: 0;
    }
    .tv-arrow-jpg {
        display: none;
        visibility: hidden;
    }
    @include min-screen-medium {
        .tv-arrow-jpg {
          display: block;
          visibility: visible;
          height: 8rem;
          width: 9rem;
          background-size: contain;
          margin: 0;
        }
        .tv-controls-png, .canvas-png {
            background-size: 100%;
            height: 72rem;
        }
        .tv-icon-svg {
            background-size: 50%;
            height: 24rem;
            margin: 0;
        }
        figure {
            background-size: 100% 100%;
        }
        .tv-wireframe-jpg, .tv-overview2-jpg, .tv-visuals-jpg, .tv-overview-jpg {
            background-size: 75%;
            height: 72rem;
        }
        .tv-overview-jpg {
          height: 52rem;
        }
        .tv-visuals-jpg {
            height: 35rem;
        }
    }
    @include min-screen-xlarge {
        .tv-overview2-jpg, .tv-controls-png {
            height: 83rem;
        }
    }
    .tv-apps-jpg {
        background-size: 100% auto;
    }
}
.philips-uc-images {
    .philips-uc-fullbleed {
        margin: 0;
        [uc-column~="1/3"] {
            margin: 0 0.5%;
            width: 33%;
            float: left;
            figure {
                height: 22rem;
                @include min-screen-medium {
                    height: 35rem;
                }
            }
        }
        [uc-column~="1/3"]:first-child, [uc-column~="1/3"]:last-child {
            margin: 0;
        }
        figure {
            margin: 0;
        }
    }
    .philips-uc-fullbleed:first-child {
        margin-bottom: 3px;
    }
}

.philips-uc-overlapping-images {
    .philips-uc-fullbleed {
        [uc-column~="1/3"] {
            overflow: visible;
            float: left;
            margin: 0 0 0 -12px;
            z-index: 0;
            width: 33.3%;
            .tv-photo-png {
                width: 115%;
            }
        }
        [uc-column~="1/3"]:first-child, [uc-column~="1/3"]:last-child {
            .tv-photo-png {
                z-index: 1;
            }
        }
    }
}
.philips-buttons {
    margin: 0 0 30px 25%;
    button {
        border-radius: 20px;
        background-size: cover;
        width: 32rem;
        height: 11rem;
        margin: 0 0 30px 0;
    }
}
@include min-screen-medium {
    .philips-buttons {
        margin: 0 0 30px 10%;
        button:first-child {
          margin-right: 20px;
            float: left;
        }
        button:last-child {
            float: left;
        }
    }
}

