@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

$font-face: 'proxima nova regular', 'Helvetica Neue', sans-serif;

figcaption, li, p {
  font-family: $font-face;
}

.uc-fullbleed .uc-imagebox {

  &.small {
    @include rem(height, 14rem);
  }

  @include min-screen-medium {
    @include rem(height, 32rem);

    &.xlarge {
      @include rem(height, 60rem);
    }
  }

  @include min-screen-small {
    &.large, &.large.mobile-flat {
      @include rem(height, 36rem);
    }
  }

  @include min-screen-xlarge {
    @include rem(height, 31rem);
    background-size: 108%;

    &.large, &.large.mobile-flat {
      @include rem(height, 44rem);
    }
  }

  @include min-screen-xlarge {
    &.xlarge {
      @include rem(height, 88rem);
    }
  }

  &.mobile-flat {
    @include rem(height, 16rem);
  }

}

.divider {
    background-color: $white;
    @include rem(height, 22rem);
    margin: -6em 0 0;

    @include min-screen-medium {
        @include rem(height, 20rem);
        margin: -4em 0 0;
    }
}

.philips-container {
    h1 {
      span {
        @include font-regular;
      }
    }
    .invert {
        &.invert {
          background-color: #2B3038;
        }

        a {
            color: $white;
            text-decoration: underline;
        }

        p {
            text-align: left;
            margin: 0 auto $margin-header-medium;

            @include min-screen-medium {
               width: 80%;
            }
        }
    }
    strong {
        font-weight: bold;
    }
    h2 + .philips-p {
        margin-top: 0px;
    }
    .philips-note {
        position: relative;

        p {
            margin-top: 2em;
            text-align: center;
            font-family: "the great escape", sans-serif;

            @include min-screen-medium {
                width: 35%;
                margin: 2em 13em 0 auto;

                &:before {
                    display: block;
                    content: url('/assets/images/philips-myremote/arrow.jpg');
                    position: absolute;
                    top: -1.5em;
                    margin-left: -1em;
                }
            }
        }
    }
    .philips-note {
        [uc-column~="1/3"] {
            width: 30%;
            float: left;
        }
    }
    [uc-column~="1/3"] {
        .philips-p {
          font-family: "the great escape", sans-serif;
        }
    }
    @include min-screen-medium {
        .philips-pointer {
            margin-left: 58%;
            margin-top: -7px;
            .philips-p {
                margin-left: 11rem;
                margin-top: -25px;
            }
        }
    }
  [uc-column~="1/2"] {
      .philips-p {
          text-align: left;
      }
      .icon-messages {
          margin-bottom: 4.8rem;
      }
  }
}

.philips-phones {
    span {
        font-size: $font-size-body;
        float: left;
        width: 33%;
        font-family: "the great escape", sans-serif;
        @include rem(margin-top, 2 * $margin);

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-top: 0;
        }
    }
}

.philips-panels {
    margin-bottom: $margin-header-medium;
}

.philips-bullets {
    border-radius: 1em;
    background-color: $white;
    width: 100%;
    margin-top: 2.5em;
    padding: 2em;
    float: left;
    transform: rotate(1deg);
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.2);
    @include rem(min-height, 9.5 * $margin);

    &:first-child {
        margin-right: 50px;
        margin-top: 0;
        transform: rotate(-1deg);

        h3 {
            letter-spacing: 2px;
        }
    }

    &:last-child {
        transform: rotate(2deg);

        @include min-screen-medium {
          margin-left: 25%;
        }
    }

    @include min-screen-medium {
        width: 45%
    }

    @include min-screen-xlarge {
        width: 44rem;
    }

    h3 {
        margin-top: 0.25em;
        text-align: center;
        display: block;
        background: #EA5930;
        position: relative;
        @include rem(font-size, 3rem);
        color: $white;
        border-radius: 2em;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5675;
        letter-spacing: -1px;
    }

    p {
        line-height: 1.3;
        font-size: 1.0625em;
        text-align: left;
        color: $darkgrey;

        &:last-child {
          margin-bottom: 0;
        }
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.uc-hero {
  padding: 0 0 0 1em;
}

.philips-uc-hero {
    @include rem(height, 15 * $margin);

    @include min-screen-xlarge {
      @include rem(height, 19 * $margin);
    }

    header {
      position: absolute;
      bottom: 0;
      width: 66%;

      @include min-screen-medium {
        width: 50%;
      }
    }

    h1 {
      font-size: 1.375em;

      @include min-screen-small {
        font-size: 1.75em;
      }

      @include min-screen-between {
        font-size: 2.25em;
      }

      @include min-screen-medium {
        font-size: 3em;
      }
    }

    h2 {
      font-size: 1.25em;

      @include min-screen-small {
        font-size: 1.5em;
      }

      @include min-screen-between {
        font-size: 2em;
      }

      @include min-screen-medium {
        font-size: 2.5em;
      }
    }

    img {
      position: absolute;
      height: 100%;
      right: -3.25em;
      bottom: -2em;

      @include min-screen-between {
        right: 2em;
      }

      @include min-screen-medium {
        right: 12em;
      }

      @include min-screen-large {
        right: 15em;
      }

      @include min-screen-xlarge {
        @include rem(bottom, -2.5 * $margin);
        @include rem(right, 15 * $margin);
      }
    }
}
.philips-uc-fullbleed {

    margin: 0;
    figure {
        margin-bottom: 0;
    }
    .tv-icon-svg {
        background-size: 25%;
        height: 13rem;
        margin: 0;
        @include min-screen-between {
            height: 24rem;
        }
    }
    .tv-arrow-jpg {
        display: none;
        visibility: hidden;
    }
    .tv-documents-jpg {
        height: 16rem;
    }
    @include min-screen-small {
        .tv-documents-jpg {
            height: 21rem;
        }
    }
    @include min-screen-between {
        .tv-documents-jpg {
            height: 30rem;
        }
    }
    @include min-screen-medium {
        .tv-arrow-jpg {
          display: block;
          visibility: visible;
          height: 8rem;
          width: 9rem;
          margin: 0;
        }
        .tv-icon-svg {
            background-size: 50%;
            height: 24rem;
            margin: 0;
        }
    }
}


.philips-buttons {
  margin: 0;
  text-align: center;

  button {
    background: none;
    border: 0;
    display: inline-block;

    img:last-child {
      margin: 0;
    }

    @include min-screen-large {
        &:first-child {
            margin-right: $margin;
        }
    }

  }
}

.apps .uc-imagebox {
  background-size: 108%;
}

.slim-images img {
  max-width: 80%;
}

#container {
  overflow: hidden;
}

.client-loop {
    p {
      text-align: left;
    }

    img {
        height: 6em;
    }
}

.dragnotice {
  margin: 2em auto 0;
  width: 10em;
  height: 2.5em;
  padding: 0.5em 1em;
  background: $accent;
  line-height: 1.675em;
  border-radius: 1.25em;
  color: white;
  font-family: $font-face;

  img {
    height: 1.5em;
    float: left;
    margin-right: 1em;
  }

}

[data-dragme] {
  cursor: move;
  background-position: -300px 0px;
  background-size: auto !important;
}

@-webkit-keyframes heartbeat {
  0%   { opacity: 0.25; -webkit-transform: scale(0.85, 0.75); }
  25%  { opacity: 1; -webkit-transform: scale(1); }
  100% { opacity: 0.25; -webkit-transform: scale(0.85, 0.75); }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

.circle {
  background-size: cover;
  background-position: center;
  width: 18em;
  height: 18em;
  @include rem(margin, 0 auto 2.5 * $margin);
  border-radius: 10em;
  overflow: hidden;

  img {
    @include center-center;
    width: 8em;
    -webkit-animation: heartbeat 2s infinite;
  }
}

.spinner {
  position: absolute;
  background-image: url('/assets/images/philips-myremote/spinner-white.svg');
  background-size: cover;
  height: 1.5em;
  width: 1.5em;
  right: 6em;
  top: 3em;
  -webkit-animation: rotate 1s steps(12) infinite;
}

.pairing {
  background-size: auto;
  background-position: -150px -120px;

  .bar {
    background-color: #3399FF;
    width: 15em;
    height: 5px;
    margin-left: 3em;
    margin-top: 2em;
    -webkit-transition: all 15s ease-out;
    transition: all 15s ease-out;
  }
}

html.js.csstransitions {
  .pairing .bar.js-hide {
    width: 0em;
  }
}

// nice.
[uc-row] figure.circle img:last-child {
    margin-bottom: auto;
}
