@mixin button {
	@include font-bold;
	display: inline-block;
	@include rem(padding, $margin);
	background-color: $accent;
	@include rem(font-size, $font-size-body);
	border-radius: 0.25em;
	color: $white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
