@mixin button {
	@include font-bold;
	display: inline-block;
	padding: $baseline $margin;
	background-color: $accent;
	font-size: $font-size-body;
	border-radius: 0.25em;
	color: $white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	@include min-screen-medium {
		font-size: $font-size-button;
	}
}
