@mixin button {
	display: inline-block;
	margin: $baseline 0;
	padding: $baseline * 2 $margin * 2;
	background-color: $accent;
	font-size: $font-medium;
	border-radius: 0.25em;
	box-shadow: 0 0.0625em 0.125em $alpha-medium;
	color: $white;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	@include min-screen-medium {
		margin: $baseline * 2 0;
		font-size: $font-large;
	}
}
