distribution
web

# Test reports
test/coverage
test/report

# Compiled CSS files
*.css
!source/vendor/**/*.css
!source/assets/images/grunticon-output/*.css

# OS
.DS_Store
thumbs.db

# Cache directories
.bower
.cache
.sass-cache
.scss-cache

# Source maps
# *.js.map
*.css.map

# Editor/IDE files
*.iml
*.ipr
*.iws
.idea
*.sublime-workspace
*.swp
nb-configuration.xml
nbactions.xml
nbproject/private

# Server logs
log
logs

# Node
node_modules
