<!-- uc-slider -->
<div class="uc-slider" data-component="uc-slider">
	<h1>Check this out</h1>
	<div role="slideshow">
		<a href="#/prev" class="prev">
			<svg viewBox="0 0 60 60" xml:space="preserve">
				<polyline class="triangle" points="60,0 0,30 60,60"/>
			</svg>
		</a>
		<div class='swipe' data-slider>
			<ul>
				<li>
					<img src="http://placehold.it/1440x900&text=VERY">
				</li>
				<li>
					<img src="http://placehold.it/1440x900&text=PRETTY">
				</li>
				<li>
					<img src="http://placehold.it/1440x900&text=STUFF">
				</li>
			</ul>
		</div>
		<a href="#/next" class="next">
			<svg viewBox="0 0 60 60" xml:space="preserve">
				<polyline class="triangle" points="0,0 60,30 0,60"/>
			</svg>
		</a>
	</div>
	<p>
		Fundraising campaign generosity Peace Corps, storytelling rural affiliate. Women and children advancement, life-saving non-partisan revitalize carbon emissions reductions. Sanitation results civil society global poverty. Inclusive capitalism tackle long-term, Millennium Development Goals experience in the field activism achieve Bloomberg. Small-scale farmers agency insurmountable challenges making progress new approaches.
	</p>
</div>
<!-- /slider -->
