@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-streamer component */

.uc-streamer {
	h2 {
		@include font-regular;
		margin: $margin-header-xlarge auto $margin-header-large;
		text-align: center;

		@include min-screen-medium {
			width: 80%;
		}
	}
}