@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-cta component */

.uc-cta {
	text-align: center;

	h2 {
		margin-bottom: $margin-header-large;
	}

	.uc-button {
		@include button;
		margin-bottom: $margin-header-large + $base-size;
	}
}