@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-cta component */

.uc-cta {
  text-align: center;

  h2, p {
    @include min-screen-small {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .uc-button {
	  @include button;
  }
}