@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* TWEEDEHANDS-BE VIEW */

$blue: #5E8FD2;
$blueDark: #5480BC;
$blueDarkest: #0065A4;
$yellow: #FFF7D8;
$grey: #f5f5f5;



.tweedehands-be {
  //Typography
  .accent {
    color: $blue;
  }
  .accent-font {
    font-family: "the great escape", sans-serif;
  }
  .regular-font {
    @include font-regular;
  }
  .bold-font {
    @include font-bold;
  }
  .light-font {
    font-family: 'proxima nova light', 'proxima nova regular';
    font-weight: normal;
  }
  // end of Typography

  .uc-hero {
    background-color: $blue;
    @include rem(height, 43rem);
    header {
      width: 100%;
      .uc-hero-title {
        text-align: center;
      }
      .uc-hero-subtitle {
        text-align: center;
        @include rem(padding, 0 2rem);
      }
    }
    .image-over {
      max-width: 90%;
    }
    @include min-screen($breakpoint-between) {
      @include rem(height, 24rem);
      h1 {
        margin: 0 0 0.25em 0;
      }
      header {
        width: 50%;
        .uc-hero-title {
          text-align: left;
        }
        .uc-hero-subtitle {
          text-align: left;
          padding: 0;
        }
      }
      .image-over {
        @include rem(right, 2.4rem);
        max-width: 50%;
        left: auto;
        img {
          float: right;
        }
      }
    }
    @include min-screen($breakpoint-medium) {
      @include rem(height, 28.8rem);
    }
    @include min-screen($breakpoint-xlarge) {
      @include rem(height, 36rem);
      .image-over {
        width: 50%;
      }
    }
  }
  @include min-screen($breakpoint-large) {
    figure {
      .standalone-image {
        width: 80%;
      }
    }
  }
  .todo-list {
    @include clearfix();
    list-style: none;
    text-align: center;
    margin: 0 auto;
    li {
      vertical-align: top;
      padding: 0 5px;
      display: inline-block;
      width: 49%;
      @include min-screen($breakpoint-large) {
        width: 30%;
      }
    }
  }
  .no-space:last-child {
    margin-bottom: 0;
  }
  section:after {
    @include rem(margin-bottom, -0.3rem);
  }
  [uc-column="1/2"] {
    width: 100%;
    .standalone-image {
      max-width: 80%;
    }
  }
  @include min-screen($breakpoint-between) {
    [uc-column="1/2"] {
      margin-left: 0%;
    }
  }
  @include min-screen($breakpoint-large) {
    [uc-column="1/2"] {
      @include rem(margin-left, 2.4rem);
      @include rem(width, 37.2rem);
      .standalone-image {
        max-width: 100%;
      }
    }
    [uc-column="1/2"]:first-child {
      margin-left: 0;
    }
  }
}

