@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* TWEEDEHANDS-BE VIEW */

$blue: #5E8FD2;
$blueDark: #5480BC;
$blueDarkest: #0065A4;
$yellow: #FFF7D8;
$grey: #f5f5f5;


.tweedehands-be {
  //Typography
  .accent {
    color: $blue;
  }
  .accent-font {
    font-family: "the great escape", sans-serif;
  }
  .regular-font {
    @include font-regular;
  }
  .bold-font {
    @include font-bold;
  }
  .light-font {
    font-family: 'proxima nova light', 'proxima nova regular';
    font-weight: normal;
  }
  // end of Typography


  // section 1 header
  .uc-hero {
    background-color: $blue;
    @include rem(height, 55rem);

    header {
      width: 100%;

      .uc-hero-title {
        @include rem(margin-bottom, 4.8rem);
        @extend .regular-font;
        text-align: center;
        text-shadow: none;
      }

      .uc-hero-subtitle {
        @include rem(padding, 0 9rem);
        text-align: center;
        text-shadow: none;
      }


      @include min-screen($breakpoint-between) {
        width: 50%;

        .uc-hero-title {
          text-align: left;
        }

        .uc-hero-subtitle {
          padding: 0;
          text-align: left;
        }

      }

    }

    .image-over {
      @include rem(bottom, -4.2rem);
      max-width: 90%;
    }

    @include min-screen($breakpoint-between) {
      @include rem(height, 28rem);

      h1 {
        margin: 0 0 0.25em 0;
      }

      .image-over {
        @include rem(right, 2.4rem);
        left: auto;
        max-width: 50%;

        img {
          float: right;
        }

      }

    }

    @include min-screen($breakpoint-medium) {
      @include rem(height, 36rem);
    }

    @include min-screen($breakpoint-xlarge) {
      @include rem(height, 40rem);

      .image-over {
        width: 50%;
      }

    }

  }
  // end of section 1 header


  // section 2 users
  @include min-screen($breakpoint-large) {

    figure {

      .standalone-image {
        width: 80%;
      }

    }

  }
  // end of section 2 users


  // section 3 upgrade
  .todo-list {
    @include clearfix();
    list-style: none;
    margin: 0 auto;
    text-align: center;

    li {
      display: inline-block;
      @include rem(padding, 0 0.5rem);
      vertical-align: top;
      width: 49%;

      @include min-screen($breakpoint-medium) {
        width: 30%;
      }

    }

  }

  .no-space:last-child {
    margin-bottom: 0;
  }

  section:after {
    @include rem(margin-bottom, -0.3rem);
  }

  [uc-column="1/2"] {
    width: 100%;

    .standalone-image {
      max-width: 80%;
    }
  }

  // end of section 3 upgrade


  // section 4 scrum & section 5 usergroup
  @include min-screen($breakpoint-between) {
    [uc-column="1/2"] {
      margin-left: 0;
    }

  }

  @include min-screen($breakpoint-medium) {
    [uc-column="1/2"] {
      @include rem(margin-left, 2.4rem);
      width: 46%;

      .standalone-image {
        max-width: 100%;
      }

    }

    [uc-column="1/2"]:first-child {
      margin-left: 0;
    }

  }

  @include min-screen($breakpoint-xlarge) {
    [uc-column="1/2"] {
      @include rem(width, 46.8rem);
    }

  }
  // end of section 4 scrum & section 5 usergroup


  // section 8 functions
  section.accent {
    background-color: $blue;
    color: $white;

    [uc-row] {
      [uc-column='1/2']:first-child {
        display: none;
        visibility: hidden;
      }

      @include min-screen($breakpoint-medium) {
        [uc-column='1/2']:first-child {
          display: block;
          visibility: visible;
        }

        [uc-column='1/2']:last-child {
          img {
            display: none;
            visibility: hidden;
          }

        }

      }

    }

  }
  section.accent, section.accent-dark {
    .section-number {
      background-color: $yellow;
      @include rem(border-radius, 30rem);
      color: $blue;
      float: right;
      @include rem(font-size, 8rem);
      @include rem(height, 10rem);
      @include rem(margin, -8rem 40% 0 0);
      @include rem(padding-top, 1rem);
      position: relative;
      text-align: center;
      @include rem(width, 10rem);

      @include min-screen($breakpoint-between) {
        @include rem(margin, -8rem 42% 0 0);
      }

      @include min-screen($breakpoint-medium){
        @include rem(margin, -8rem 45% 0 0);
      }

    }

    h3 {
      color: $white;
    }

  }
  // end of section 8 functions


  // section 8, 9, 10
  section.accent-dark {
    background-color: $blueDark;
    color: $white;
  }
  // end of section 8, 9, 10


  // section 11
  .divider-before-arrow:after {
    background: url("assets/images/arrow-blue.svg");
    @include rem(bottom, -2.5rem);
    content: '';
    @include rem(height, 4.5rem);
    left: 49%;
    position: relative;
    width: 20px;
    z-index: 2;
  }
  // end of section 11


  // section 12
  .speedtest {
    background: url("assets/images/11_speedtest-s.png") no-repeat center;
    background-size: 100%;
    width: 100%;
    @include rem(height, 45rem);
    display: block;

    @include min-screen($breakpoint-between){
      @include rem(height, 55rem);
    }

    @include min-screen($breakpoint-medium){
      background: url("assets/images/11_speedtest-m.png") no-repeat center;
      background-size: 100%;
    }

    @include min-screen($breakpoint-xlarge){
      background: url("assets/images/11_speedtest-xl.png") no-repeat center;
      background-size: 100%;
    }

  }

  .quote-author {
     text-align: center;
  }
  // end of section 12


  // section 15
  .uc-imagebox {
    @include rem(margin-bottom, 1rem);

    @include min-screen($breakpoint-medium) {
      @include rem(height, 37rem);
    }

  }

  .quotes {
    @include clearfix();

    @include min-screen($breakpoint-medium) {
      margin: 0 auto;
    }

    color: $white;
    list-style: none;
    text-align: center;

    li {
      width: 100%;

      @include min-screen($breakpoint-medium) {
        display: inline-block;
        width: 40%;
      }

      @include rem(margin, 4rem 0);

      p {
        @include rem(margin, 1rem 0 0);
      }

    }

  }
  .fullbleed-desc {
    text-align: center;
  }
  // end of section 15


  // section 16
  .video-spacer {
    margin: 0 auto;
    max-width: 80%;

    @include min-screen($breakpoint-medium) {
      max-width: 60%;
    }

    .video-container {
      height: 0;
      position: relative;
      overflow: hidden;
      @include rem(margin-bottom, 6.4rem);
      max-width: 100%;
      padding-bottom: 56.25%;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

    }

  }

  .uc-button {
    background-color: $blue;
  }
  // end of section 16
}

