@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* TWEEDEHANDS-BE VIEW */

$blue: #5E8FD2;
$blueDark: #5480BC;
$blueDarkest: #0065A4;
$yellow: #FFF7D8;
$grey: #f5f5f5;



.tweedehands-be {
  //Typography
  .accent {
    color: $blue;
  }
  .accent-font {
    font-family: "the great escape", sans-serif;
  }
  .regular-font {
    @include font-regular;
  }
  .bold-font {
    @include font-bold;
  }
  .light-font {
    font-family: 'proxima nova light', 'proxima nova regular';
    font-weight: normal;
  }
  // end of Typography

}
.uc-hero {
  background-color: $blue;
  @include min-screen($breakpoint-medium) {
    .image-over {
      right: -65.6rem;
      img {
        max-width: 42%;
      }
    }
    header {
      bottom: 0.6rem;
    }
  }
  @include min-screen($breakpoint-xlarge) {
    .image-over {
      right: -48.6rem;
      img {
        max-width: 50%;
      }
    }
  }

}
