<!DOCTYPE html>
<html class="no-js">

<head>
    <title> Uc hero (preview) Uc-hero | unitid-components </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="ADD A DESCRIPTION" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="shortcut icon" href="../../../assets/images/favicon.ico" type="image/ico" />
    <script>
        (function(e) {
            e.className = e.className.replace('no-js', 'js');
        }(document.documentElement));
    </script>
    <link rel="stylesheet" href="../../../assets/style/main.css" />
    <link rel="stylesheet" href="/vendor/unitid-site/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="/modules/views/uc-hero/uc-hero.css" />
    <link rel="stylesheet" href="../../../assets/style/main.css">
    <!--[if IE 8 ]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div id="container" class="container" role="document">
        <div class="uc-hero" data-component="uc-hero">
            <header>
                <h1>
			Carbon rights
		</h1>
                <h2>
			transform the world governance experience in the field youth.
		</h2> </header>
            <div class="image-over"></div>
        </div>
        <script src="../../../assets/scripts/vendor.js"></script>
        <script src="../../../assets/scripts/main.js"></script>
        <script src="../../../guide/vendor/prismjs/prism.js"></script>
    </div>
</body>

</html>