@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* intro component */

.intro {
  margin: 0 auto;

  h1 {
    margin-bottom: 2 * $baseline;
  }

  h1, h2 {
    text-align: center;
  }

  @include min-screen-small {
    width: 75%;
  }
}