@import 'variables';
@import 'helpers';

$guide-swatch-size: 80px;

html {
	font-family: "proxima nova regular", sans-serif;

	@include min-screen-medium {
		font-size: 125%;
	}
}

h1 {
	font-family: "proxima nova bold", sans-serif;
	text-align: center;

	& + h2 {
		text-align: center;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: $accent;

	&:hover {
		color: $black;
	}
}

code {
	font-size: 0.875em;
}

.core-layout {
	margin: 1em;
}

.app-guide {
	width: 100%;
	margin: 0 auto;

	@include min-screen-small {
		width: 400px;
	}

	@include min-screen-medium {
		width: 640px;
	}

	@include min-screen-large {
		width: 800px;
	}

}

a.app-guide-icon {
	color: $white;
	text-decoration: none;
}

.app-guide-icon-code:before {
	content: "\e600";
}

.app-guide-icon-download:before {
	content: "\e601";
}

.app-guide-code {
	position: relative;
}

.app-guide-code-options {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding-left: 0;
	list-style: none;
	background: $black;

	li {
		display: inline-block;
	}

	a {
		color: white;
		padding: 2px 3px;
	}
}

.logo {
	display: block;
	margin: 0 auto;
}

.logo {
	display: block;
	margin: 0 auto;
}

// Swatches

.app-guide-swatches {
	@include clearfix();
}

.app-guide-swatch {
	display: block;
	border-width: 16px;
	border-style: solid;
	border-color: #e3e3e3;
	margin: 0 auto;
	width:  $guide-swatch-size;
	height: $guide-swatch-size;
}

[title="accent"] .app-guide-swatch {
	background-color: $accent;
}

[title="accent-dark"] .app-guide-swatch {
	background-color: $accent-dark;
}

[title="black"] .app-guide-swatch {
	background-color: $black;
}

[title="silver"] .app-guide-swatch {
	background-color: $silver;
}

[title="smoke"] .app-guide-swatch {
	background-color: $smoke;
}

[title="whitesmoke"] .app-guide-swatch {
	background-color: $whitesmoke;
}

.app-guide-swatches li {
	float: left;
	width: 120px;
	list-style: none;
}

.app-guide-info {
	display: block;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 0.9em;
}