@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-divider component */

$divider-size: 40 * $baseline;

.uc-divider {
  position: relative;
  height: 5 * $baseline;
  overflow: hidden;

  &:after {
    display: block;
    content: "";
    position: absolute;
    height: $divider-size;
    width: $divider-size;
    left: 50%;
    margin-top: - $divider-size - $baseline / 2;
    margin-left: - $divider-size / 2;
    box-shadow: 0 0 5 * $baseline $alpha-medium;
    border-radius: $divider-size / 2.5;
  }
}
