@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-divider component */

@mixin uc-divider-shadow($color) {
	box-shadow: 0 0 3 * $margin $color;
}

$uc-divider-size: 40 * $margin;

.uc-divider {
	position: relative;
	height: 3 * $margin;
	margin-bottom: - 3 * $margin;
	overflow: hidden;

	&:after {
		@include uc-divider-shadow($alpha-light);
		display: block;
		content: "";
		position: absolute;
		height: $uc-divider-size;
		width: $uc-divider-size;
		left: 50%;
		margin-top: - $uc-divider-size;
		margin-left: - $uc-divider-size / 2;
		border-radius: $uc-divider-size / 3;
	}
}

.accent .uc-divider:after {
	@include uc-divider-shadow($alpha-dark);
}
