@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* APPLE-WATCH VIEW */

.apple-watch-container {
  p {
    text-align: center;
  }
  .uc-hero {
    background-image: url('/assets/images/apple-watch/l_Header.jpg');
    background-size: cover;
    background-position: center;
  }
  [uc-column~="1/2"] {
    margin-left: 0;
  }
  .icon-list {
    list-style: none;
    @include min-screen-small {
      padding-top: 10rem;
    }
    img {
      @include min-screen-small {
        float: left;
        margin-bottom: 2.5rem;
      }
    }
    p {
      text-align: center;
      @include min-screen-small {
        text-align: left;
        margin-bottom: 2.5rem;
      }
    }
  }
}

