@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* APPLE-WATCH VIEW */

.apple-watch-container {
  .uc-hero {
    background-image: url('/assets/images/apple-watch/l_Header.jpg');
    background-size: cover;
    background-position: center;
  }
}

