@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* APPLE-WATCH VIEW */

.apple-watch-container {
  .uc-hero {
    background-image: url('/assets/images/apple-watch/l_Header.jpg');
    background-size: cover;
    background-position: center;
  }
  [uc-column~="1/2"] {
    margin-left: 0;
  }
  .icon-list {
    list-style: none;
    padding-top: 10rem;
    img {
      float: left;
    }
    p {
      margin-bottom: 2.5rem;
    }
  }
}

