<!DOCTYPE html>
<html class="no-js">

<head>
    <title> Uc slider (preview) Uc-slider | unitid-components </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="ADD A DESCRIPTION" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="shortcut icon" href="../../../unitid-components/assets/images/favicon.ico" type="image/ico"
    />
    <script>
        (function(e) {
            e.className = e.className.replace('no-js', 'js');
        }(document.documentElement));
    </script>
    <link rel="stylesheet" href="../../../unitid-components/assets/style/main.css" />
    <!--<link rel="stylesheet" href="/modules/views/uc-slider/_uc-slider.css" />-->
    <link rel="stylesheet" href="/unitid-components/modules/views/uc-slider/uc-slider.css" />
    <link rel="stylesheet" href="../../../unitid-components/assets/style/main.css">
    <!--[if IE 8 ]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div id="container" class="container" role="document">
        <div class="uc-slider" data-component="uc-slider">
            <a href="#/prev" class="prev">
                <svg viewBox="0 0 60 60" xml:space="preserve">
                    <polyline class="triangle" points="60,0 0,30 60,60" /> </svg>
            </a>
            <div class='swipe' data-slider>
                <ul>
                    <li> <img src="http://placehold.it/1440x900&text=VERY"> </li>
                    <li> <img src="http://placehold.it/1440x900&text=PRETTY"> </li>
                    <li> <img src="http://placehold.it/1440x900&text=THINGS"> </li>
                </ul>
            </div>
            <a href="#/next" class="next">
                <svg viewBox="0 0 60 60" xml:space="preserve">
                    <polyline class="triangle" points="0,0 60,30 0,60" /> </svg>
            </a>
        </div>
        <!-- TODO: slider needs bullets w/text or thumb; also should have text(alt?)s on top of each slide -->
        <script src="../../../unitid-components/assets/scripts/vendor.js"></script>
        <script src="../../../unitid-components/assets/scripts/main.js"></script>
        <script src="../../../guide/vendor/prismjs/prism.js"></script>
    </div>
</body>

</html>