{% extends "views/_base-view/base-view.html" %}

{% block content %}
    <div id="container" class="container" role="document">
        <section class="streamer">
            {% include "components/hero/_hero.html" %}
            {% include "components/quote/_quote.html" %}
        </section>
        <section class="define invert accent">
            {% include "components/divider/_divider.html" %}
            {% include "components/intro/_intro.html" %}
            {% include "components/image-full/_image-full.html" %}
        </section>
        <section class="develop">
            {% include "components/divider/_divider.html" %}
            {% include "components/text-visual/_text-visual.html" %}
        </section>
    </div>
{% endblock %}