@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-fullbleed component */

.uc-fullbleed {
	padding: 0;
	@include rem(margin-bottom, $margin-header-large + 1rem);

	.uc-imagebox {
		position: relative;
		@include rem(height, 15 * $margin);
		overflow: hidden;

		@include min-screen-medium {
			@include rem(height, 30 * $margin);
		}
	}

	.uc-inset {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		@include rem(padding, 0 $margin $margin);

		.wrapper {
			background: $white;
			@include rem(padding, $margin);
		}

		p:last-child {
			margin-bottom: 0;
		}

		@include min-screen-medium {
			@include rem(width, 25 * $margin);
			@include rem(padding, 0 0 $margin-header-large 3 * $margin);
		}

		@include min-screen-xlarge {
			@include rem(padding, 0 0 $margin-header-large + $margin 4 * $margin);
		}
	}
}

[uc-column] .uc-fullbleed {
	.uc-inset {
		width: 100%;
		@include rem(padding, 0 $margin $margin);
	}
}
