@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-fullbleed component */

.uc-fullbleed {
	padding: 0;

	.uc-imagebox {
		height: 10 * $baseline;

		@include min-screen-medium {
			height: 20 * $baseline;
		}
	}
}