<!DOCTYPE html>
<html class="no-js">

<head>
    <title> Uc fullbleed (preview) Uc-fullbleed | unitid-components </title>
    <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="ADD A DESCRIPTION" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="shortcut icon" href="../../../unitid-components/assets/images/favicon.ico" type="image/ico"
    />
    <script>
        (function(e) {
            e.className = e.className.replace('no-js', 'js');
        }(document.documentElement));
    </script>
    <link rel="stylesheet" href="../../../unitid-components/assets/style/main.css" />
    <!--<link rel="stylesheet" href="/modules/views/uc-fullbleed/_uc-fullbleed.css" />-->
    <link rel="stylesheet" href="/unitid-components/guide/guide.css" />
    <link rel="stylesheet" href="../../../unitid-components/assets/style/main.css">
    <!--[if IE 8 ]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div id="container" class="container" role="document">
        <div class="uc-fullbleed" data-component="uc-fullbleed">
            <figure class="uc-imagebox" style="background-image: url('http://wallpapers5.com/getimage.php?img=51169607/Landscape/Mountain/Mount-Shuksan-North-Cascades-National-Park-Washington.jpg')">
                <div class="uc-inset">
                    <div class="wrapper">
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed
                            in his bed into a horrible vermin. He lay on his armour-like back, and if
                            he lifted his head a little he could see his brown belly, slightly domed
                            and divided by arches into stiff sections.</p>
                    </div>
                </div>
            </figure>
        </div>
        <script src="../../../unitid-components/assets/scripts/vendor.js"></script>
        <script src="../../../unitid-components/assets/scripts/main.js"></script>
        <script src="../../../guide/vendor/prismjs/prism.js"></script>
    </div>
</body>

</html>