// These are fixes to counter drama caused by Foundation or other frameworks
// and bad behaviour by unitid default css

[class*="column"] + [class*="column"]:last-child {
	float: none;
}

#container {
  border: 0;
  outline: 1px solid #ccc;
}

.boxshadow #container {
  outline: 0;
}
