.whitespace-before {
	padding-top: $baseline * 3;
}

.whitespace-after {
	padding-bottom: $baseline * 3;
}

.container {
	section {
		@include clearfix;
		position: relative;
		width: 100%;
		background-color: $white;
		border-bottom: 0; // override unitid stylesheet

		&.invert {
			background-color: $black;
			h1, h2, h3, h4, h5, h6, p, li, footer {
				color: $white;
			}
		}

		&.accent {
			background-color: $accent;
		}

		&.smoke {
			background-color: $smoke;
		}

		&.whitespace {
			@extend .whitespace-after;
			@extend .whitespace-before;
		}

		&.whitespace-before {
			@extend .whitespace-before;
		}

		&.whitespace-after {
			@extend .whitespace-after;
		}

		&.center {
			h1, h2, h3, h4, h5, h6, p, li {
				text-align: center;

				@include min-screen-medium {
					margin-left: auto;
					margin-right: auto;
					width: 67%;
				}
			}
		}

		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

// Some Attribute Module stuff!
// http://glenmaddern.com/articles/introducing-am-css

[uc-column] {
	width: 100%;

	@include min-screen-medium {
		float: left;

		&:first-child {
			margin-left: 0;
		}
	}
}

[uc-column~="1/3"] {
	@include min-screen-medium {
		width: 31%;
		margin-left: 3.5%;
	}

	@include min-screen-large {
		width: 272px; // (864-2*gutter)/3
		margin-left: $gutter;
	}

	@include min-screen-xlarge {
		width: (1104px - 2 * 24px) / 3;
	}
}

[uc-column~="2/3"] {
	@include min-screen-medium {
		width: 65.5%;
		margin-left: 3.5%;
	}

	@include min-screen-large {
		width: 568px;
		margin-left: $gutter;
	}

	@include min-screen-xlarge {
		width: ((1104px - 24px) / 3) * 2;
	}
}

[uc-column~="1/2"] {
	@include min-screen-medium {
		width: 48%;
		margin-left: 4%;
	}

	@include min-screen-large {
		width: 17.5 * $gutter; // 420px, half of 840px, which is 960 - 4 * gutter (see data-component padding) - 1 * gutter (for left/right column)
		margin-left: $gutter;
	}

	@include min-screen-xlarge {
		width: (1104px / 2) - 24px;
	}
}

[uc-row] {
	@include clearfix;
	padding: $margin-header-medium $gutter;

	@include min-screen-medium {
		padding: $margin-header-medium 2 * $gutter 0;
	}
}