html {
  font-size: 87.5%;
  @include min-screen-small {
    font-size: 100%;
  }
}

.container {
  width: 100%;

  @include min-screen-medium {
    margin: $baseline auto;
    box-shadow: 0 0 0.5em $alpha-medium;
    width: 40em;
  }

  @include min-screen-large {
    width: 60em;
  }

  @include min-screen-xlarge {
    width: 80em;
  }

  section {
    @include clearfix;
    position: relative;
    width: 100%;
    padding-bottom: 2 * $baseline;
    background-color: $white;

    &.invert {
      background-color: $key;
      h1, h2, h3, h4, h5, h6, p, li {
        color: $white;
      }
    }

    &.accent {
      background-color: $accent;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  @include min-screen-medium {
    .after-column {
      margin-left: 50%;
    }

    .column {
      width: 50%;

      &.left {
        float: left;
      }
    }
  }
}

.column {
  h2, p {
    @include min-screen-medium {
      padding: 0 $baseline;
    }
    @include min-screen-large {
      padding: 0 $baseline * 2;
    }
  }
}

[data-component] {
  padding: 0 $margin;
  margin-bottom: $baseline;
}