[data-component] { // FIX!
	h1, h2, h3, h4, h5, h6, p, li, {
		quotes: '\201C' '\201D' '\2018' '\2019';
		line-height: $line-height;
		margin: 0 0 $baseline 0;
	}

	h1 {
		font-size: $font-large;
		font-weight: 700;

		@include min-screen-medium {
			font-size: $font-xlarge;
		}
	}

	h2 {
		font-size: $font-medium;
		font-weight: 700;

		@include min-screen-medium {
			font-size: $font-large;
		}
	}

	q {
		&:before { content: open-quote; }
		&:after  { content: close-quote; }
	}
}
