figure {
	margin: 0 0 $margin-header-medium;
	position: relative;
}

figcaption {
	margin-top: $margin;
	text-align: center;

	&.large {
		@include font-bold;
		font-size: $font-size-header-small;
	}
}

.uc-imagebox {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.icon {
  display: block;
	@include rem(margin, $margin-header-large + 1rem auto 0);

	& + h1 {
		margin-top: $margin-header-small;
	}

}
