@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-intro component */

.uc-intro {
	margin: 0 auto;

	h1, h2 {
		text-align: center;
	}

	@include min-screen-medium {
		width: 75%;
	}
}