@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* uc-quote component */

.uc-quote {
	margin: 0 auto;
	padding-top: $baseline * 2;
	padding-bottom: $baseline * 4;

	h2, footer {
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		@include min-screen-medium {
			width: 75%;
		}
	}

	h2 {
		text-align: center;
	}

	footer {
		text-align: right;
		&:before { content: "-"; }
	}
}